.num-button {
	font-family: 'Roboto', monospace;
	font-size: 20px;
	font-weight: bold;
	color: #adaeae;
	background: #393b39;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	border: 1px solid #393b39;
}

.controls {
	display: grid;
	justify-content: center;
	align-content: center;
	grid-gap: 10px;
	grid-template-areas:
		'special special special operator'
		'positive positive positive operator'
		'positive positive positive operator'
		'positive positive positive operator'
		'zero zero point operator';
}

.positive-numbers {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	grid-area: positive;
}

.zero {
	display: grid;
	grid-auto-columns: 1fr;
	grid-gap: 10px;
	grid-area: zero;
	justify-content: center;
}

.point {
	display: grid;
	grid-area: point;
}

.slanted-button {
	font-family: 'Roboto', monospace;
	font-size: 20px;
	font-weight: bold;
	color: #adaeae;
	background: #393b39;
	border-radius: 25% / 50%;
	height: 70px;
	border: 1px solid #393b39;
}
